body,h1,h2,p{
    margin: 0;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body{
background-color: beige;
color: #fff;
text-align: center;
padding: 20px;


}

header h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    animation: glow 1.5s infinite alternate;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg,#e1e5e3,#f4f4f4);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent ;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header::before{
content: "";
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
width: 120%;
height:150% ;
background:radial-gradient(circle,rgba(255,255,255,0.2) 0%,transparent 70%);
z-index: index 0;
animation:pulse 6s infinite;
border: radius 50%;;
}

@keyframes pulse{       
    0%{
        transform: translate(-50%,-50%)scale(1);
        opacity: 1;
    }
    50%{
        transform: translate(-50%,-50%)scale(1.2);
        opacyty:1;
    }
    100%{
        transform:translate(-50%,-50%) scale(1);
    }
}
p{
    color: black;
}
    
h1{
    font: size 2rem;
    color: #00d9ff;
}

h2{
color: black;
}
main{
max-width:  600px;
margin:0 auto;
position: relative;
}
.panel{
display:none;
padding: 20px;
background-color:#e9e9f4;
border: radius 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.3);
animation: fadeIn 0.5s ease;
}

.panel img {
width: 100%;
border: radius 10px;
margin: bottom 15px;
}
.panel h2{
    font: size 1rm;
    margin: bottom 20px;
}
.panel p{
    font-size:1rm;
    margin-bottom:20px;
}
.navegation{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttom{
    background-color: #0077b6;
    color: #fff;
    padding:10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.3;
}
.button:hover{
    background-color: #00a8e8;
}
#panel1:checked~#content-panel1,
#panel2:checked~#content-panel2,
#panel3:checked~#content-panel3,
#panel4:checked~#content-panel4,
#panel5:checked~#content-panel5{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }

}

input[type="radio"]{
    display: none;
}