body,h1,h2,p{
    margin: 0;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body{
background-color: beige;
color: #fff;
text-align: center;
padding: 20px;


}

header h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    animation: glow 1.5s infinite alternate;
    position: relative;
    z-index: 1;
    background: linear-gradient(90deg,#e1e5e3,#f4f4f4);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent ;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header::before{
content: "";position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
width: 120%;
height:150% ;scale: ;


background:radial-gradient(circle,rgba);
}

@keyframes pulse{       
    0%{
        transform: translate(-50%,-50%)scale(1);
        opacity: 1;
    }
    50%{
        transform: translate(-50%,-50%)scale(1.2);
        opacyty:1;
    }
    100%{
        transform:translate(-50%,-50%);scale(1);
    }
}
p{
    color: black;
}
    
h1{
    font: size 2rem;;
    {color}
}

